timeout=5

menuentry 'ICS Operating System (Live CD)' {
   search --file --set=root /vmdex
   multiboot /vmdex
   boot
}

menuentry 'ICS Operating System (USB / disk)' {
   search --file --set=root /vmdex
   multiboot /vmdex
   boot
}
